---
title: College of Southern Nevada
---

.header.top 
	.wrap
		.header-wrap
			h2 Nevada Community College Consortium
section
	.wrap
  		h1.text-center
  		div.text-center
			i.fa.fa-3x.heading-icon
				| CSN
		.content
			h2 Programs Offered
			ul
				li 
					p
						| Health Care Program
						br
						| Telephone: 702-651-4770

				li 
					a href="http://sites.csn.edu/workforce" target="_blank" Home Care Aide Program