---
title: Great Basin College
---

.header.top 
	.wrap
		.header-wrap
			h2 Nevada Community College Consortium
section
	.wrap
  		h1.text-center
  		div.text-center
			i.fa.fa-3x.heading-icon
				| GBC
		.content
			h2 Round 1 Programs Offered
			ul
				li
					a href="http://www.gbcnv.edu/programs/show.cgi?AAS-DT" target="_blank" Diesel Technology
				li
					a href="http://www.gbcnv.edu/programs/show.cgi?AAS-EL" target="_blank" Electrical Technology
				li
					a href="http://www.gbcnv.edu/programs/show.cgi?AAS-WT" target="_blank" Welding Technology
			h2 Round 3 Programs Offered
			ul
				li
					a href="http://www.gbcnv.edu/programs/show.cgi?AAS-MI" target="_blank" Milwright Technology
				li
					a href="http://www.gbcnv.edu/programs/show.cgi?AAS-WT" target="_blank" Welding Technology
				li
					a href="http://www.gbcnv.edu/programs/show.cgi?CRT-IT" target="_blank" Instrumentation Technology (CA Only)

