---
title: Nevada Community College Consortium
---

header.top 
	.wrap
		.header-wrap
			h1 Nevada Community College Consortium
			= link_to "Learn More", "#about", :class => "learnmore"

section#about
	.wrap
  		h1.text-center
  		div.text-center
			i.fa.fa-book.fa-3x.heading-icon
		.content
			.three-quarters
				h2 About
				p
					| The Nevada Community College Consortium includes the Trade Adjustment Assistance Community College and Career Training (TAACCCT) Grant Program. This project was funded $2,701,202 (100% of its total cost), from a grant awarded under the Trade Adjustment Assistance Community College and Career Training Grants, as implemented by the U.S. Department of Labor’s Employment and Training Administration. 
		.content
			.three-quarters
				h2 Participating Colleges
				.half
					a.image-link href="tmcc.html"	
						= image_tag "tmcclogo.png"
						.btn
							' Learn more
							i.fa.fa-search
				.half
					a.image-link href="csn.html"	
						= image_tag "csnlogo.png"
						.btn
							' Learn more
							i.fa.fa-search
				.half
					a.image-link href="gbc.html"	
						= image_tag "gbclogo.png"
						.btn
							' Learn more
							i.fa.fa-search
				.half
					a.image-link href="wnc.html"
						= image_tag "wnclogo.png"
						.btn
							' Learn more
							i.fa.fa-search