---
title: Western Nevada College
---

.header.top 
	.wrap
		.header-wrap
			h2 Nevada Community College Consortium
section
	.wrap
  		h1.text-center
  		div.text-center
			i.fa.fa-3x.heading-icon
				| WNC
		.content
			.three-quarters
				h2 Round 1 Programs Offered
				p
					' Contact Information:
					a href="mailto:gregory.sly@wnc.edu" Gregory Sly 
					br
					| Telephone: 775-445-3346 
				ul
					li Accelerated Welding
					li Accelerated Maching Tooling
					li Accelerated Automotive Technology
					li Certified Nursing Assistant (CNA)
				h2 Round 3 Programs Offered
				p
					' Contact Information:
					a href="mailto:linda.whitehill@wnc.edu" Linda Whitehill
					br
					| Telephone: 775-445-4268
				ul
					li Accelerated Welding 
					li Accelerated Machine Tooling
					li Industrial Systems Technology 
					li CISCO Systems
				h2 Round 4 Programs Offered
				p
					' Contact Information:
					a href="mailto:barbara.walden@wnc.edu" Barbara Walden
					br
					| Telephone: 775-445-3292
				ul
					li Accelerated Welding 
					li Accelerated Machine Tooling
					li Certified Nursing Assistant (CNA) 
